/* cabecalho */
@import url("./Cabeçalho/cabecalho.css");
@import url("./Cabeçalho/cabecalho-form-login.css");
@import url("./Cabeçalho/cabecalho-logo.css");
@import url("./Cabeçalho/form-login-botao.css");
@import url("./Cabeçalho/form-login-input.css");
@import url("./Cabeçalho/form-login-pergunta.css");
/* Principal */
@import url("./Principal/principal.css");
/* Rodape */
@import url("./rodape/rodape.css");

:root {
    --azul: rgb(38, 99, 231);
    --branco: #FFFFFF;
    --cinza: #999999;
    --verde-botao: #18dd11;
    --verde-botao-cima: #158811;
    --vermelho: rgb(255, 34, 5);
    --preto: #000000;

    --fonte-principal: 'Source Sans Pro', sans-serif;
    --fonte-titulo: 'Pacifico', cursive;
}


body {
    font-family: var(--fonte-principal);
}

#testenegrito {
    color: var(--vermelho);
    font-weight: bold;
}

.italico {
    font-style: italic;
}

.conteudoLista {
    background: linear-gradient(var(--branco), var(--cinza));
    padding: 0 2em;
}

.conteudoLista__titulo {
    font-weight: bold;
    font-size: 30px;
    margin: 2em 0;
    text-align: center;
}

.conteudoLista__tituloLista {
    font-size: 18px;
    padding: 0 0 2em 2em;
    text-align: left;
}

.conteudoLista__lista {
    display: inline-block;
    font-style: italic; 
    margin-bottom: 3em;
    margin-right: 25em;
    text-align: left;
    vertical-align: top;
}

.conteudoLista__lista___pontos:before {
    content: "✯";
}

.conteudoLista__lista__pontos {
    font-style: italic;
    margin-top: 20px;
}
.conteudoLista__imagem {
    height: 300px;
    margin-bottom: 3em;
    width: 30%;
}

.links {
    background: var(--cinza);
    padding: 2em 0;
}

.links__titulo {
    text-align: left;
    margin-bottom: 2em;
    margin-left: 5em;
}

.links__navecacao .links__lista___item {
    padding: 1em 0 1em 2em;
}

.link__lista___link {
    color: darkcyan;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.link__lista___link:hover {
    opacity: 60%;
    text-decoration: underline;
}
