/* cabecalho */
@import url("./Cabeçalho/cabecalho.css");
@import url("./Cabeçalho/cabecalho-form-login.css");
@import url("./Cabeçalho/cabecalho-logo.css");
@import url("./Cabeçalho/form-login-botao.css");
@import url("./Cabeçalho/form-login-input.css");
@import url("./Cabeçalho/form-login-pergunta.css");
/* Principal */

/* Rodape */
@import url("./rodape/rodape.css");

:root {
    --azul: rgb(38, 99, 231);
    --branco: #FFFFFF;
    --cinza: #999999;
    --verde-botao: #18dd11;
    --verde-botao-cima: #158811;
    --vermelho: rgb(255, 34, 5);
    --preto: #000000;

    --fonte-principal: 'Source Sans Pro', sans-serif;
    --fonte-titulo: 'Pacifico', cursive;
}


body {
    font-family: var(--fonte-principal);
}

.principal {
    background-color: var(--branco);
    font-size: 18px;
    text-align: center;
}

.conteudo__titulo {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 2em 0;
}

.conteudo__texto {
    margin: 1em 2em;
}

#testenegrito {
    color: var(--vermelho);
    font-weight: bold;
}

.italico {
    font-style: italic;
}

.conteudoLista {
    background: linear-gradient(#FFFFFF, #999999)

}
.conteudoLista p, nav p {
    text-align: left;
    padding: 0 0 2em 2em;
    font-size: 18px;
}

.conteudoLista__lista {
    font-style: italic;
    margin-left: 25px; 
    display: inline-block;
    vertical-align: top;
    padding: 0 35em 0 2em;
}

.conteudo__lista__pontos:before {
    content: "✯";
}

.conteudoLista__lista__pontos {
    font-style: italic;
    margin-top: 20px;
}
.conteudoLista__imagem {
    height: 300px;
    width: 30%;
}

.links {
    background: #999999;
}

.links__navecacao li {
    padding: 1em 0 1em 2em
}

.links__navecacao a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: darkcyan;

}

.links__navecacao li a:hover {
    opacity: 60%;
    text-decoration: underline;
}
